<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ receita.Nome }}</title>
</head>
<body>
    <h1> {{ receita.Nome }}</h1>
    <div><b>Ingredientes:</b>{{ receita.Ingredientes|linebreaks}}</div>
    <br><br>
    <div><b> Modo de Preparo:</b>{{ receita.Modo_de_Preparo|linebreaks }}</div>
    <br></br>
    <div><b>Grau de Dificuldade:</b>{{ receita.Grau_de_Dificuldade }}</div>
</body>
</html>